//Import fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto|Archivo+Black')

@import 'flex'

// VSCode Implementation

//Sass Variables
$lower-border: 1px solid #fff5cc
$upper-border: 1px solid rgba(122, 122, 122, 0.3)

//Theme Color
$bg-color: #fffff7
$color: #222
$hover-text: #eee
$hover-elem: rgba(0, 0, 0, 0.3)

//Font
$disp-font: 'Permanent Marker', cursive
$read-font: 'Roboto'

//Contact Buttons
$cont-size-p: 36px
$cont-size-t: 60px

//Animation interval
$pulse-beat: 1.25s

//color
$pulse: rgba(white, 0)
$email: rgba(212, 73, 70, 1)
$linkedIn: #2980b9
$github: #2c3e50
$codepen: #34495e
$twitter: #3498db
$fcc: #27ae60

//Mixins
@mixin transAll($sec)
  transition: all $sec ease-in-out

@mixin backGround
  background-color: #fffff7

@mixin textEffect($num, $hue)
  text-shadow: (-$num) 0px 0px $hue, ($num) 0px 0px $hue, 0px (-$num) 0px $hue, 0px ($num) 0px $hue, (-$num * 2) 0px 0px invert($hue), ($num * 2) 0px 0px invert($hue), 0px ($num * 2) 0px invert($hue), 0px (-$num * 2) 0px invert($hue)

@mixin stroke($width, $color)
  text-shadow: (-$width) (-$width) 0 $color, $width (-$width) 0 $color, (-$width) $width 0 $color, $width $width 0 $color

@mixin pulse($ani_name, $color)
  @keyframes #{$ani_name}
    to
      box-shadow: 0 0 0 15px $color

@mixin aniInf($name, $time)
  animation: $name $time infinite

@mixin social($color)
  background-color: $color
  box-shadow: 0 0 0 0 rgba($color, 1)


body
  margin: 0 auto
  font-family: $read-font
  color: $color
  background-color: $bg-color
    
.full
  width: 100%

#content
  min-height: 95vh
  display: flex
  align-items: center
  justify-content: center
  align-content: stretch
  
.read
  font-family: $read-font
  
.display
  font-family: $disp-font

.header-bar
  font-family: $disp-font

.container,
.container-fluid
  max-width: 97.5%

a
  text-decoration: none
  &:hover
    text-decoration: none

.navbar-default
  @include backGround
  .navbar-brand
    font-family: $disp-font
    font-size: 1.8em
    color: $color
    padding: 15px 0
  .navbar-nav
    li
      &:hover
        background-color: $hover-elem
      a
        color: $color
        &:hover
          color: $hover-text
  .navbar-toggle
    border: 0
    transform: rotate(0)
    transition: all 0.25s ease-in-out
    &:focus,
    &:hover
      background-color: transparent
    .icon-bar
      transition: all 0.3s ease-in-out
      height: 4px
      margin-left: 12.5%
    .ib-top
      transform: rotate(45deg)
      transform-origin: 0% 50%
    .ib-mid
      opacity: 0
    .ib-bot
      transform: rotate(-45deg)
      transform-origin: 0% 50%
    &.collapsed
      transform: rotate(-180deg)      
      .icon-bar
        height: 2px
        margin-left: 0
      .ib-top
        transform: rotate(0)
      .ib-mid
        opacity: 1
      .ib-bot
        transform: rotate(0)
  &.navbar-collapse
    background-color: rgba( 255, 255, 247, 0.95)

#backButton
  .backButton
    font-size: 1.55rem
    color: $color
    font-family: $read-font

#jumbo-container
  @include backGround

.jumbotron
  font-family: $read-font
  text-align: center
  color: $color
  background: none
  .main
    margin-top: 100px
  li
    display: inline-block
    padding: 10px
  h1
    font-family: Archivo Black

.social
  list-style: none
  margin-left: -30px
  li a
    font-size: 24px
    color: $color
    @include transAll(.2s)
    .label
      color: $color
      &:hover
        color: red
    &:hover
      color: red

#profile
	.polaroid
		position: absolute
		max-width: 70%
		background: #fffae6
		border-left: $upper-border
		border-top: $upper-border
		border-right: $lower-border
		border-bottom: $lower-border
		box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.5)
		.self,
		.video
			box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3)
			max-width: 90%
			position: relative
			left: 5%
			top: 20px	
		.gutter
			position: relative
			color: #333
			display: block
			margin-top: 30px
			text-align: center
			font-family: $disp-font
			font-size: 3.5rem
		.profile-toggle
			position: absolute
			margin-top: -20px
			border-radius: 50%
			box-shadow: 2px 2px 1px rgba(0,0,0,0.1)
			width: 40px
			height: 40px
			right: -20px
			background-color: #2980b9
			&:active
				background-color: #3498db
			.fa
				color: #fff
				position: absolute
				left: .35em
				top: .35em
				font-size: 1.75em
				.fa-play-circle-o
					&:before
						padding-left: .05em

p
  font-size: 1.6em

.constrain
  max-width: 1280px
  margin: 0 auto
  padding: 25px

.portfolio
  @include backGround
  h1, h2
    font-family: 'Permanent Marker', cursive
    text-align: center
    color: #eee
    text-shadow: 2px 2px 6px #222
  .loading,
  .fa-spinner
    text-shadow: 0px 0px 0px #fff
    color: $color
  .pulse
    animation: pulse 2s infinite

@keyframes pulse
  0%
    @include stroke(0px, rgba(0, 0, 0, 0))
    color: rgba(0, 0, 0, 1)
  50%
    @include stroke(1px, rgba(0, 0, 0, 1))
    color: rgba(255, 255, 255, 1)

.input-group-addon
  cursor: pointer

.frame
  text-align: center
  background-color: rgba(255, 255, 255, 0.6)
  //height: 280px
  color: #444
  font-family: 'Permanent Marker'
  border: 1px solid #999
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
  margin-top: 25px
  padding: 10px
  .overlay
    opacity: 0
    position: absolute
    left: 15px
    right: 15px
    top: 25px
    bottom: 0px
    color: #fff
    font-size: 14px
    padding: 10px
    font-family: 'Helvetica'
    background: rgba(31, 31, 122, 0.1)
    @include transAll(1s)
  &:hover
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8)
    background-color: rgba(255, 255, 255, 0.8)
    .overlay
      opacity: 1
      background: rgba(31, 31, 122, 0.8)
      transition: opacity .3s ease-in-out
  a
    text-decoration: none
    color: #000
    &:hover
      text-decoration: none
      color: #000
  .image
    max-width: 100%
    max-height: 75%
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6)
    clear: both

.tech
  list-style-type: none
  li
    text-indent: -1.4em
    &:before
      font-family: 'FontAwesome'
      content: '\f121'
      color: $color
      margin-right: .2em

.contact
  height: 240px
  background: none
  font-family: $disp-font
  h4
    font-size: 2rem
    text-align: center
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4)
  button
    color: $hover-text
    width: $cont-size-t
    height: $cont-size-t
    padding: 0
    margin: 10px
    border-radius: 50%
    border: none
    font-size: 36px
    @include transAll(.2s)
    &:hover
      margin: 2
  .fa
    color: $hover-text
    text-align: center
  #github
    @include social($github)
    &:hover
      @include aniInf(github, $pulse-beat)
  #twitter
    @include social($twitter)
    &:hover
      @include aniInf(twitter, $pulse-beat)
  #linkedin
    @include social($linkedIn)
    &:hover
      @include aniInf(linkedIn, $pulse-beat)
  #freecodecamp
    @include social($fcc)
    &:hover
      @include aniInf(fcc, $pulse-beat)
  #codepen
    @include social($codepen)
    &:hover
      @include aniInf(codepen, $pulse-beat)
  .copyright
    text-align: center
  .radiate
    box-shadow: 0 0 0 0 rgba(212, 73, 70, 1)
    border-radius: 1px
    &:hover
      @include aniInf(email, 1.25s)

@include pulse(email, $pulse)
@include pulse(github, $pulse)
@include pulse(twitter, $pulse)
@include pulse(linkedIn, $pulse)
@include pulse(fcc, $pulse)
@include pulse(codepen, $pulse)

.contact-buttons
  display: block
  text-align: center

.footer
  @include backGround
  border-top: 1px solid #111
  max-height: 60px
  h6
    float: right
  ul
    margin: 0
    padding: 0
    float: left
    margin-top: 10px
  li
    display: inline
    padding: 10px
    &:hover:nth-child(odd)
      background-color: $hover-elem
    a
      color: $color
      &:hover
        color: $hover-text

.colCont
  width: 100%
  .zzz
    max-height: 5px
    overflow: hidden
    opacity: 0
    transition: max-height 500ms, opacity 750ms
  .xxx
    opacity: 1
    transition: max-height 500ms, opacity 750ms

@media only screen and (max-width: 768px)
  .footer-links, .label, .conText
    display: none
  .social
    .fa
      font-size: 40px
    .fa-github
      color: $github
    .fa-twitter-square
      color: $twitter
    .fa-linkedin-square
      color: $linkedIn
    .fa-free-code-camp
      color: $fcc
    .fa-codepen
      color: $codepen

@media only screen and (min-width: 768px)
  .frame
    height: 260px

@media only screen and (max-width: 540px)
  .contact
    button
      color: $hover-text
      width: $cont-size-p
      height: $cont-size-p
      margin: 2px
      font-size: 20px

@media only screen and (max-width: 320px)
  .navbar-default
    .navbar-brand
      font-size: 1.5em