@import url(https://fonts.googleapis.com/css?family=Permanent+Marker)
@import '_polaroid'

@media only screen and (max-width: 768px)
  .self, .footer-links, .label, .conText
    display: none
  .copyright
    text-align: center

body
  margin: 0 auto

.container
  max-width: 90%

a
  text-decoration: none
  &:hover
    text-decoration: none

#brand
  font-family: 'Permanent Marker', cursive

.navbar-default
  background: rgba(248, 248, 248, 0.9)

nav a:hover
  box-shadow: 1px 1px 3px #444
  border-radius: 7%

.navbar-toggle
  margin-top: 20px

.jumbotron
  text-align: center
  height: 600px
  margin-top: 65px
  color: #eee
  text-shadow: 2px 2px 6px #222
  background: url("/assets/page/notebook-hero-workspace-minimal2.jpg") no-repeat fixed
  background-size: cover

.main
  margin-top: 100px

li
  display: inline-block
  padding: 10px

.social
  list-style: none
  li a
    font-size: 24px
    color: #fff
    transition: all .5s ease-in-out
    &:hover
      font-size: 32px
      transition: all .5s ease-in-out

.contact button
  width: 128px
  height: 48px
  margin: 12px
  border-radius: 5px
  border: 1px solid #000
  font-size: 15px
  box-shadow: 1px 1px 3px #444
  transition: all .3s ease-out
  &:hover
    box-shadow: 4px 4px 8px #222
    display: inline-block
    height: 60px
    margin: 0
    font-size: 18px
    transition: all .3s ease-in

button a:hover
  text-decoration: none
  color: #333

#about-container
  margin-top: -30px
  background-image: url("https://jeremylshepherd.github.io/assets/page/desk-pencil-eraser-black.jpg")
  background-size: cover
  background-color: rgba(255, 255, 230, 0.5)
  background-blend-mode: overlay

.about-me
  .row
    padding: 5px

p
  padding: 25px
  font-size: 1.6em

.constrain
  max-width: 1280px
  margin: 0 auto
  padding: 25px

.portfolio
  background: url("/assets/page/people-coffee-notes-tea.jpg") no-repeat fixed
  background-size: cover
  h1, h2
    font-family: 'Permanent Marker', cursive
    text-align: center
    color: #eee
    text-shadow: 2px 2px 6px #222

.input-group-addon
  cursor: pointer    

.frame
  text-align: center
  background-color: rgba(255, 255, 255, 0.6)
  height: 280px
  color: #444
  font-family: 'Permanent Marker'
  border: 1px solid #999
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
  margin-top: 25px
  padding: 10px
  transition: all 1s ease-in-out
  &:hover
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8)
    background-color: rgba(255, 255, 255, 0.8)
    transition: all 1s ease-in-out
  a
    text-decoration: none
    color: #000
    &:hover
      text-decoration: none
      color: #000

.overlay
  opacity: 0
  position: absolute
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  color: #fff
  padding: 10px
  font-size: 14px
  font-family: 'Helvetica'
  background: rgba(31, 31, 122, 0.1)
  transition: all 1s ease-in-out

.frame:hover .overlay
  opacity: 1
  background: rgba(31, 31, 122, 0.8)
  transition: opacity .3s ease-in-out

.image
  max-width: 100%
  height: auto
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6)
  clear: both

.contact
  height: 480px
  font-family: 'Permanent Marker', cursive
  background: url("/assets/page/coffee-iphone-laptop-notebook.jpg") no-repeat fixed
  background-size: cover
  a
    text-shadow: 3px 3px 8px #000
  h2
    text-align: center
    color: #fff
    text-shadow: 3px 3px 8px #000
    font-size: 48px
    font-family: 'Permanent Marker', cursive
  h4
    font-size: 2rem
    text-align: center
    text-shadow: 2px 2px 6px #222
    a
      text-shadow: -1px -1px 0 #fff,   1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff

.contact-buttons
  display: block
  text-align: center
  button
    font-size: 12px
    background: none
    a
      text-shadow: -1px -1px 0 #fff,   1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff

footer
  background: #888
  height: 60px
  ul
    float: left
  li
    display: inline
    padding: 10px
    a
      color: #111
      &:hover
        color: #fff
  h6
    float: right
